.sb-slider-area {
    width: 100%;
    height: 36px;
    line-height: 26px;
    max-width: 304px;
    display: inline-block;
}
input[type=range].sb-slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 4px 0 0 0;
    padding: 0;
    display: inline-block;
}
input[type=range].sb-slider:focus {
    outline: none;
}
input[type=range].sb-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #999;
    border-radius: 0px;
}
input[type=range].sb-slider::-webkit-slider-thumb {
    height: 40px;
    width: 24px;
    border: 0;
    background: 50%/24px no-repeat url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTIiIGZpbGw9IiNFMzE5MzciIHN0cm9rZT0ibm9uZSIvPgo8L3N2Zz4=');
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -19px;
}
input[type=range].sb-slider:focus::-webkit-slider-runnable-track {
    background: #999;
}
input[type=range].sb-slider::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #999;
    border-radius: 0px;
}
input[type=range].sb-slider::-moz-range-thumb {
    height: 40px;
    width: 24px;
    border: 0;
    background: 50%/24px no-repeat url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTIiIGZpbGw9IiNFMzE5MzciIHN0cm9rZT0ibm9uZSIvPgo8L3N2Zz4=');
    cursor: pointer;
}
input[type=range].sb-slider::-ms-track {
    width: 100%;
    height: 24px;
    cursor: pointer;
    visibility: hidden;
    border: 0;
    border-radius: 0px;
}
input[type=range].sb-slider::-ms-fill-lower {
    background: #999;
    height: 2px;
}
input[type=range].sb-slider::-ms-fill-upper {
    background: #999;
    height: 2px;
}
input[type=range].sb-slider::-ms-thumb {
    height: 40px;
    width: 24px;
    border: 0;
    background: 50%/24px no-repeat url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTIiIGZpbGw9IiNFMzE5MzciIHN0cm9rZT0ibm9uZSIvPgo8L3N2Zz4=');
    cursor: pointer;
    margin-top: 0px;
}
input[type=range].sb-slider:focus::-ms-fill-lower {
    background: #999;
    height: 2px;
}
input[type=range].sb-slider:focus::-ms-fill-upper {
    background: #999;
    height: 2px;
}
input[type=range].sb-slider::-ms-tooltip {
    display: none;
}